<h2><a href="/">Portomone</a></h2>
<ul>
    <ul>
        <li><a href="/expenses">All Expenses</a></li>
        <li><a href="/expenses/new">Add Expense</a></li>
        <li><a href="/persons">All Persons</a></li>
        <li><a href="/persons/new">Add Person</a></li>
    </ul>
</ul>